.errorFeedbackContainer {
  width: 100%;
  height: calc(100vh - 6rem);

  @media (min-width: 769px) {
    height: calc(100vh - 7rem);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    max-width: 240px;
    width: 100%;

    @media (min-width: 769px) {
      max-width: 360px;
    }
  }

  & > strong {
    font-size: 1.5em;
  }

  & > strong,
  & > span {
    text-align: center;
    margin-top: 12px;
    max-width: 240px;
  }

  & > button {
    margin-top: 12px;

    & a {
      text-decoration: none;
    }
  }
}