.headerContainer {
  padding-bottom: 1rem;
  height: 6rem;
  justify-content: flex-end;

  @media (min-width: 769px) {
    height: 7rem;
  }

  .headerContentContainer {
    align-items: flex-end;

    .userInfoContainer {
      flex: 1;
  
      h5 {
        font-size: 1.2rem;
        font-weight: 700;
      }
    
      h6 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  
    .logoutButton {
      color: inherit;
    }
  }
}