@keyframes appearFromUp {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animatedAppBar {
  animation: appearFromUp 0.5s;

  h1 {
    font-size: 1em;
    margin-left: 12px;

    @media (min-width: 769px) {
      font-size: 1.2em;
    }
  }
}

@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.videoTitleContainer {
  padding: 1rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media (min-width: 1200px) {
    max-width: 320px;
    margin-top: 7rem;

    justify-content: flex-start;

    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: 1400px) {
    max-width: 400px;
  }

  @media (min-width: 1600px) {
    max-width: 560px;
  }

  button {
    margin-right: 1rem;
  }

  h5 {
    margin-top: 0.3rem;
    font-weight: 700;

    animation: appearFromLeft 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
  }
}

.pageContainer {
  max-width: 600px;
  width: 100%;
  padding: 12px;
  margin: 0 auto;

  @media (min-width: 769px) {
    margin-top: 12px;
  }

  .videoPlayerContainer {
    width: 100%;
    margin-top: 1rem;

    animation: appearFromLeft 0.8s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;

    & > iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .videoMetaContainer {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;

    animation: appearFromLeft 0.8s;
    animation-fill-mode: backwards;

    &.delayedAnimation0_6 {
      animation-delay: 0.6s;
    }

    &.delayedAnimation1 {
      animation-delay: 1s;
    }

    display: flex;
    align-items: flex-start;

    & > h5 {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .videoInteractionCounters {
      margin-left: 1rem;
      display: flex;
      align-items: center;
    }

    .videoStatistics {
      display: flex;
      align-items: center;

      & > svg {
        margin-right: 0.5rem;
      }

      & + div {
        margin-left: 1rem;
      }
    }
  }

  .videoDescriptionAccordion {
    border-radius: 4px;

    animation: appearFromLeft 0.8s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;

    &::before {
      display: none;
    }

    p {
      font-size: 0.75rem;

      @media (min-width: 769px) {
        font-size: 0.875rem;
      }
    }
  }
}